*/LibFiles/temp/*
*/LibFiles/__pycache__/*
*/TrainingData/StockDump/*
*/estimateTrainingData/*
*/libfiles/temp/lastBatch.txt
*/savedModels/*
*savedModels*
*/logs/*
*/predictionDump/*
datafiles/*
*__pycache__
*/.vscode/*
*/.vs/*
.vs/*
*credential.json*